# Ignore node_modules directory
node_modules/

# Ignore .DS_Store files (created by macOS Finder)
.DS_Store

# Optional: Ignore npm debug log
npm-debug.log*

# Optional: Ignore yarn.lock file if you are using npm
yarn.lock

# Optional: Ignore environment variable files
.env
.env.local
.env.*.local

# Optional: Ignore build output directories
dist/
build/

# Optional: Ignore log files
*.log

# Optional: Ignore IDE and editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: Ignore coverage reports
coverage/
